<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <div class="container">
                        <div class="row justify-content-start mt-2">
                            <div class="col-1 ml-0 pl-0 mr-2 left">
                                <a href="https://www.linkedin.com/in/ianagpawa" class="text-white" target="_blank">
                                    <app-fa-icon [input]="['fab', 'linkedin']" [size]="'6x'"></app-fa-icon>
                                </a>
                            </div>
                            <div class="col-1 mr-1">
                                <a href="https://www.github.com/ianagpawa" class="text-white" target="_blank">
                                    <app-fa-icon [input]="['fab', 'github']" [size]="'6x'"></app-fa-icon>
                                </a>
                            </div>
                        </div>
                        <div class="row justify-content-start mt-2">
                            <div class="col-4" class="text-white">
                                agpawaji@gmail.com
                            </div>
                        </div>
                    </div>
                    <!-- <ul class="list-unstyled">
                        <li>
                            <a href="https://www.linkedin.com/in/ianagpawa" class="text-white" target="_blank">
                                Connect with me <app-fa-icon [input]="['fab', 'linkedin']"></app-fa-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.github.com/ianagpawa" class="text-white" target="_blank">
                                Check out my code <app-fa-icon [input]="['fab', 'github']"></app-fa-icon>
                            </a>
                        </li>
                        <li class="text-white">agpawaji@gmail.com</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <strong class="navbar-brand d-flex align-items-center">Ian Agpawa</strong>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
    </div>
</header>