<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">
                        I am software engineer currently working in financial markets. 
                        My background is in clinical psychology and healthcare but I learned how to code and managed to switch careers.
                        My other interests include music, writing, upcyling hardware, and gaming.
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <div class="container">
                        <div class="row justify-content-start mt-2">
                            <div class="col-1 ml-0 pl-0 mr-2 left">
                                <a href="https://www.linkedin.com/in/ianagpawa" class="text-white" target="_blank">
                                    <app-fa-icon [input]="['fab', 'linkedin']" [color]="'white'"></app-fa-icon>
                                </a>
                            </div>
                            <div class="col-1 mr-1">
                                <a href="https://www.github.com/ianagpawa" class="text-white" target="_blank">
                                    <app-fa-icon [input]="['fab', 'github']" [color]="'white'"></app-fa-icon>
                                </a>
                            </div>
                        </div>
                        <div class="row justify-content-start mt-2">
                            <div class="col-4" class="text-white">
                                agpawaji@gmail.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <strong class="navbar-brand d-flex align-items-center">Ian Agpawa</strong>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
    </div>
</header>