<p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '100vw', 'height': '100%'}" [numVisible]="6"
    [circular]="true" [showThumbnails]="false" [showIndicators]="false" [showItemNavigators]="true">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 69%; height: 100%; display: block; cursor: pointer;" (click)="onClick(item.site)" />
    </ng-template>
    <ng-template pTemplate="caption" let-item>
        <h4 style="margin-bottom: .5rem; color: #ffffff;">{{item.title}}</h4>
        <p>{{item.alt}}</p>
    </ng-template>
</p-galleria>