<p-carousel [value]="projects" [autoplayInterval]="7500" [circular]="true" [numVisible]="3" [numScroll]="1">
    <ng-template let-project pTemplate="item">
        <div class="col-md-12" (mouseover)="onHover(project.id)" (mouseout)="onHover(project.id)">
            <p-blockUI [target]="pnl" [blocked]="getBlocking(project.id)">
                <div class="container text-white">
                    <div class="row d-flex justify-content-around align-items-center col-md-10 offset-md-1">
                        {{project.description}}
                    </div>
                    <div class="row d-flex justify-content-around align-items-center">
                        <div class="btn-group text-center">
                            <a *ngIf="project.github" href={{project.github}} class="text-white" target="_blank">
                                <button type="button" class="btn btn-lg"><app-fa-icon [input]="['fab', 'github']" [color]="'white'" [size]="true"></app-fa-icon></button>
                            </a>
                            <a *ngIf="project.site" href={{project.site}} class="text-white" target="_blank">
                                <button type="button" class="btn btn-lg"><app-fa-icon [input]="['fab', 'sith']" [color]="'white'" [size]="true"></app-fa-icon></button>
                            </a>
                        </div>
                    </div>
                    <div class="row mt4 d-flex justify-content-around">
                        Built with {{getTechUsed(project.tech)}}
                    </div>
                </div>
            </p-blockUI>
            <p-panel #pnl>
                <div class="card mb-4 shadow-sm">
                    <img src="../assets/placeholder.jpeg" width="100%" height="100%" class="icard-img-top">
                    <div class="card-body">
                        <h4 class="card-text text-center">{{project.title}}</h4>
                    </div>
                </div>
            </p-panel>
        </div>
    </ng-template>
</p-carousel>