<section class="jumbotron text-center">
    <div class="container">
        <h1>Personal Portfolio</h1>
        <span class="lead text-muted">
            This is my personal portfolio showcasing a few featured projects. It utilizes Angular, Bootstrap, and PrimeNg components, and is hosted on Githubb pages. Check out the code 
            <span>
                <a href="https://github.com/ianagpawa/ng-portfolio" target="_blank">
                    here
                </a>
            </span>. Click on an image to go to the website.
        </span>
        <!-- TODO: Add switch for all projects matrix. -->
        <!-- <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p> -->
    </div>
</section>